p{
    background-image: url("C:\Users\user\Desktop\MY WEB SITE\My SITE Image\background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


<!--<div style="font-style:italic; font-variant: small-caps bold; font-weight: bold; font-size:20px; line-height: 1.1; font-family:Open Sans ;">-->
<p>



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">